@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Barlow", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
  outline: none;
}

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    @apply bg-base-dark-1 text-white;
  }
  h1 {
    @apply text-2xl font-semibold;
  }
  h2 {
    @apply text-xl font-semibold;
  }

  button {
    @apply outline-none focus:outline-none
  }
}

@layer utilities {
  .backdrop {
    background-color: rgba(0, 0, 0, 0.7);
  }
  @supports (
    (-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))
  ) {
    .backdrop {
      background-color: rgba(0, 0, 0, 0.7);
      -webkit-backdrop-filter: blur(2em) saturate(180%);
      backdrop-filter: blur(2em) saturate(180%);
    }
  }
}
